*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.video-btn{
    width: 70px;
    height: 70px;
    background-color: #ff612f;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: .5s;
}

.icon{
    font-size: 30px;
    color: white;
}

.video-btn::before{
    content: "";
    width: 110px;
    height: 110px;
    position: absolute;
    border: 2px solid #ff612f;
    border-radius: 8px;
    animation: before 2s linear infinite;
}
.video-btn::after{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    border: 2px solid #ff612f;
    border-radius: 8px;
    animation: after 1s infinite;
    animation-delay: 0.5s;
}



@keyframes before {
    0% {
        width: 55px;
        height: 55px;
    }
    50% {
        width: 115px;
        height: 115px;
        opacity: 0.6;
    }
    100%{
        width: 145px;
        height: 145px;
        opacity: 0;
    }
}

@keyframes after {
    0% {
        width: 30px;
        height: 30px;
    }
    50% {
        width: 90px;
        height: 90px;
        opacity: 0.7;
    }
    100%{
        width: 115px;
        height: 115px;
        opacity: 0;
    }
}